@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}

/* root */

:root {
    --font-family: 'roboto-regular', sans-serif;
    --font-light: 'roboto-light', sans-serif;
    --heading: 'poppins', sans-serif, arial;
    --font-size: 16px;
    --h: 201;
    --s: 79%;
    --l: 46%;
    --black: #090909;
    --white: #ffffff;
    --gray: #f1e9e9;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles for the application */

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--gray);
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading);
    font-weight: 500
}
p {
    font-family: var(--font-light);
}
b {
    font-family: var(--heading);
    font-size: .8rem;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav header header"
                         "nav main main"
                         "nav main main";
}

nav {
    grid-area: nav;
    background: hsl(var(--h), var(--s), var(--l), 1);
    color: var(--white);
    padding: 20px;
    color: var(--white);
    /* gap: 40px; */
}

nav img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(343deg) brightness(102%) contrast(102%);
}

nav a {
    color: var(--white);
    text-decoration: none;
}

nav .title {
    margin-bottom: 30px;
}

nav > div:nth-child(2), nav > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav > div:nth-child(2) {
    margin-bottom: 40px;
}

nav > div:nth-child(2) > div, nav > div:nth-child(3) > div {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 10px;
}


nav img {
    width: 25px;
    height: auto;
    
}

.title img:nth-of-type(1) {
    width: 40px !important
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 60px;
    grid-area: header;
    background-color: var(--white);
    color: var(--black);
    padding: 20px 40px;
    box-shadow: 0 0 10px #8d8b8b;
}

header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    gap: 20px;
}

header .top-header input {
   width: calc(50vw - 50px);
   font-size: .8rem;
   border: 1px solid transparent;
   background: var(--gray);
   border-radius: 30px;
   text-indent: 5px;
   padding: 5px;
} 

header .top-header input:focus {
    outline: none;
    border: 1px solid hsl(var(--h), var(--s), var(--l), 1);
    background: var(--white);
}

header .top-header div:nth-child(2) {
    gap: 15px;
    align-items: center;
}
header .top-header  * img {
    width: 15px;
}

header .top-header  div:nth-child(2) button:nth-of-type(2) > img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
header .top-header  div:nth-child(2) h3 {
    font-size: 0.8rem;
    font-weight: 600;
}

header .sub-header {
    display: grid;
    justify-content: normal;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
}

header .sub-header p:only-of-type {
    font-size: 0.7rem;
    font-weight: 600;
}

header .sub-header h5:only-of-type {
    font-size: .9rem;
    font-weight: 600;
}

header .sub-header * img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-2 {
    gap: 2px;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.align-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.btn {
    border: none;
    border-radius: 50px;
    font-size: 0.6rem;
    background: hsl(var(--h), var(--s), var(--l), 1);
    color: var(--white);
    padding: 10px 20px;
    cursor: pointer;
}

.btn-none {
    border: none;
    background: transparent;
    cursor: pointer;
}
main {
    display: grid;
    grid-template-columns: 2fr .6fr;
    grid-area: main;
    padding: 20px;
    gap: 20px;
}
main * img {
    width: 50px;
}

main > h5:nth-child(1) {
    display: grid;
    grid-column: 1 / 2;
}

main > h5:nth-of-type(2) {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

main > div:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    gap: 20px;
}

 main > div:nth-of-type(2) {
    display: grid;
}

main > div:nth-of-type(2) > div {
    display: grid;
    background: var(--white);
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px gray;
}

main > div:nth-of-type(2) h5 {
    margin: 25px 0 6px
}

main .announcement-container {
    display: grid;
    gap: 5px;
}

main .announcement-container b {
    font-size: 0.6rem;
}

main .announcement-container:nth-of-type(1)::after, main .announcement-container:nth-of-type(2)::after {
    display: grid;
    content: "";
    border: 1px solid gray;
    margin-top: 10px;
}

main p {
    font-size: 0.6rem;
    color: gray
}

main img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

main span {
    font-size: .7rem;
}

.project-container {
    display: grid;
    padding: 20px;
    background: var(--white);
    border-radius: 5px;
    border-left: 5px solid gold;
    box-shadow: 0 0 6px gray;
}

.project-container * p {
    font-size: 0.8rem;
    color: gray
}

.project-container >  div {
    display: grid;
    gap: 5px;
}

.project-container > div > div:last-of-type {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 20px;
}

.project-container * img {
    width: 15px
}